@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ubuntu;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7d5d5;
}

section {
  background-color: rgb(39, 38, 38);
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 30px;
  border-radius: 15px;
}

#c {
  grid-column: 1/3;
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#divide {
      background-color: yellow;
}

#equal {
  grid-row: 5/7;
  grid-column: 4;
background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 21%, rgba(237, 221, 83, 1) 100%);
}

#zero {
  grid-column: 1/3;
}

#display {
  grid-column: 1/-1;
  text-align: right;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

input,
button {
  font-size: 20px;
  background-color: white;
  border: none;
  outline: none;
  padding: 5px;
  color:black;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.563);
  transition: all 0.15s ease-in-out;
}

input:hover,
button:hover {
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.763);
  opacity: 85%;
}

input:active,
button:active {
  scale: 0.9;
}

#multiply{
    background-color: yellow;
}

#minus{
    background-color: yellow;
}

#add{
    background-color: yellow;
}
#decimal{
   background: #2A7B9B;
   background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 21%, rgba(237, 221, 83, 1) 100%);
} 