@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./netflix.jpg);
}

.navbar{
    display: flex;
    gap: 900px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 19px;
}
.language{
    border: 0.1px solid rgba(220, 218, 218, 0.749);
    font-size: 18px;
    padding:9px ;
    border-radius: 5px;
    height: 35px;
    width: 130px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.language i{
    font-size: 15px;
    padding: 6px;
}
.links{
    display: flex;
    color: white;
    gap: 17px;
}

.logo{
    font-size: 40px;
    color: red;
    font-weight:600;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.button{
    font-size: 16px;
    padding: 7px;
    height: 34px;
    background-color: red;
    width: 80px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.paragraph{
    color: white;
    text-align: center;
    margin-top: 150px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.st{
    font-size: 60px;
    font-weight: 900;
}
.nd{
    font-size: 60px;
    font-weight: 900;
}
.rd{
    font-size: 20px;
    font-weight: 600;
    margin-top: 9px;
}
.th{
    margin-top: 32px;
    font-size: 15px;
    font-weight: 600;
}
.form{
    text-align:center;
    margin-top: 25px;
}
button{
    background-color: red;
    color: white;
    font-size: 25px;
    padding: 7px;
    height: 60px;
    width: 200px;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    height: 60px;
    width: 390px;
    border-radius: 5px;
    background-color: rgba(19, 29, 45, 0.829);
    font-size: 15px;
    padding-left: 15px;
    color: white;
    border: 1px solid black;
}

